.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: bisque;
  margin: 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px orange;
}

.circle:nth-child(1) {
  background-color: rgb(47, 47, 108);
}

.circle:nth-child(2) {
  background-color: greenyellow;
}

.circle:nth-child(3) {
  background-color: red;
}

.circle:nth-child(4) {
  background-color: pink;
}

.circle:nth-child(5) {
  background-color: navajowhite;
}

.circle:nth-child(6) {
  background-color: deepskyblue;
}

.circle.active {
  background: url('../images/cat.jpeg') no-repeat center center/cover;
}