.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: bisque;
  margin: 1rem;
  cursor: pointer;
}

.circle:nth-child(1) {
  background-color: rgb(47, 47, 108);
}

.circle:nth-child(2) {
  background-color: greenyellow;
}

.circle:nth-child(3) {
  background-color: red;
}

.circle:nth-child(4) {
  background-color: pink;
}

.circle:nth-child(5) {
  background-color: navajowhite;
}

.circle:nth-child(6) {
  background-color: deepskyblue;
}

.circle.active {
  background: url('https://media.istockphoto.com/id/1154370773/fi/valokuva/muotokuva-kauniista-kissasta-scottish-straight-l%C3%A4hikuva-eristetty-valkoisella-taustalla.jpg?s=612x612&w=0&k=20&c=-FT6eYNNN75RqzdCYSKz8BApOfcFE7Q0WPny31teyTQ=')no-repeat center center/cover;
}