.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: bisque;
  margin: 1rem;
  cursor: pointer;
}

.circle:nth-child(1) {
  background-color: rgb(47, 47, 108);
}

.circle:nth-child(2) {
  background-color: greenyellow;
}

.circle:nth-child(3) {
  background-color: red;
}

.circle:nth-child(4) {
  background-color: pink;
}

.circle.active {
  background: url('https://images.unsplash.com/photo-1515532389667-6373451c5053?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmFya2luZyUyMGRvZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1400&q=60')no-repeat center center/cover;
}