.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: bisque;
  margin: 1rem;
  cursor: pointer;
}

.circle .active {
  background: url('https://media.istockphoto.com/id/149075263/photo/angry-dog-with-bared-teeth.jpg?b=1&s=170667a&w=0&k=20&c=PW2DafySTvceNND3-jT16KAB_AEzEZiQzKxKzny7A58=')no-repeat center center/cover;
}